@model KisiselBerkeKurnaz.Models.TBL_BLOG

@{
    ViewBag.Title = "Blog Berke Kurnaz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br /><br /><br /><br /><br /><br />
    @Html.Raw(Model.ICERIK) <br /><br /><br />

</div>

